<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	<add key="ca-web-nuget-api" value="https://australiancricket.pkgs.visualstudio.com/_packaging/ca-web-nuget-api/nuget/v3/index.json" />	
    <add key="ca-web-nuget-grassroots" value="https://australiancricket.pkgs.visualstudio.com/_packaging/ca-web-nuget-grassroots/nuget/v3/index.json" />
	<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
    	<ca-web-nuget-api>
      		<add key="Username" value="a_npandey@australiancricket.onmicrosoft.com" />
      		<add key="ClearTextPassword" value="wyvaenjthtsjqoti22fo754se7nnld2qxkkvfgtpzuvxglczac7a" />
    	</ca-web-nuget-api>
		<ca-web-nuget-grassroots>
      		<add key="Username" value="a_npandey@australiancricket.onmicrosoft.com" />
      		<add key="ClearTextPassword" value="wyvaenjthtsjqoti22fo754se7nnld2qxkkvfgtpzuvxglczac7a" />
    	</ca-web-nuget-grassroots>
   </packageSourceCredentials>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="True" />
	</packageManagement>
	<apikeys>
		<add key="https://australiancricket.pkgs.visualstudio.com" value="wyvaenjthtsjqoti22fo754se7nnld2qxkkvfgtpzuvxglczac7a" />
	</apikeys>
</configuration>